@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <title>JeCo Pharma</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="~/Css/reset.css" rel="stylesheet">
    <link href="~/Css/grondstoffen.css" rel="stylesheet">
    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="Js/menu.js"></script>
    <!-- Font awesome -->
    <link rel="stylesheet" type="text/css" href="/Js/fontawesome/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <header>
        <div class="container">
            <div class="header_left">
                <a href="Index"><i class="fa fa-home"></i></a>
                <p>
                    Welkom: Maya de Groot</br>
                    ID: 234153
                </p>
            </div>
            <div class="header_center">
                <p>
                    @ViewBag.Datum<br />
                    Conflicten
                </p>
            </div>
            <div class="header_right">
                <a href="#" id="drop_menu">
                    <i class="fa fa-user-md"></i>
                    <p>JeCo Pharma</p>
                </a>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="side">
            <a href=/Conflict/ConflictOverzicht><div class="side_nav">Conflicten Overzicht</div></a>
            <a href=/Conflict/ConflictToevoegen><div class="side_nav">Conflict Toevoegen</div></a>
            <a href=/Conflict/ConflictVerwijderen><div class="side_nav">Conflict Verwijderen</div></a>
            <a href=/Grondstof/index><div class="side_nav">Grondstoffen Bewerken</div></a>
            <div class="button_side">
                <a href="#" title="uitloggen" alt="uitloggen" class="button_uitloggen">Uitloggen</a>
            </div>
        </div>
        <div class="modules">
            <a href="/Conflict/ConflictOverzicht"><div class="module_4"><p>Conflict Overizcht</p></div></a>
            <a href="/Conflict/ConflictToevoegen"><div class="module_5"><p>Conflict Toevoegen</p></div></a>
            <a href="/Conflict/ConflictVerwijderen"><div class="module_6"><p>Conflict Verwijderen</p></div></a>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>JecoPharma</p>
        </div>
    </footer>
</body>
</html>
